<!DOCTYPE html>
<html>

<%- include("./partials/head.ejs") %>
  <body>

<%- include("./partials/nav.ejs") %>

  <!-- DashBoard -->
    <section class="dashboard">

      <!-- leftside -->
        <div class="boardleft">
          <h2>Upcoming</h2>
          <a href="/dashboard"><button class="book">Court</button></a>
          <a href="/game"><button class="book">Games</button></a>
        </div>

        <!-- line -->
        <div class="line"></div>
        
        <!-- rightside -->
        <div class="boardright">
            <p>Welcome back, <%= userEmail %></p>
            <div class="court-title">
              <h2 class="court-titleh2">Court</h2>
            </div>
              <!-- courtssssss -->
              <% var price = 0;%>
              <% if (courts.length > 0) { %>
                <% courts.forEach(court => { %>  
    
                    <% var timeStart = parseInt(court.toObject().timestart)  %>
                    <% var timeEnd = timeStart + 1 %> 

                    <% if (court.toObject().sport == 'badminton') { %>
                        <% var image = "image/badminton.jpeg"; %> 
                    <% } else if(court.toObject().sport == 'basketball') { %>
                        <% var image = "image/basketball.jpeg"; %>
                    <% } else if(court.toObject().sport == 'futsal') { %>
                      <% var image = "image/football.jpg"; %>
                  <% } %> 

                    <% var id = court.toObject()._id %> 
                    
                    <% if (court.toObject().share == true) { %>
                      <% var href = "/detail/" + id %> 
                  <% } else  { %>
                      <% var href = '/createGame/' + id%>
                  <% } %> 

                    <% let sameVenueCourt = allVenue.some(venue => (venue.sport == court.toObject().sport) && (venue.venue == court.toObject().venue))%>

                    <!-- Check for court price -->
                    <% allVenue.every((venue) => { %>
                        <% if ((venue.sport == court.toObject().sport) && (venue.venue == court.toObject().venue)) {%>
                          <% price = venue.toObject().price %>
                          <% return false;%>
                          <% } %>
                          <% return true%>
                    <% }) %>
                    <div class="court1">

                
                        <div class="imgBox">
                          <div class="sport">
                            <div class="text">
                                <%= court.toObject().sport %>
                            </div>
                          </div>
                          <img src="<%= image %>"  class="cover">
                        </div>
                        
                        <div class="actionBtns">
                          <div class="left">
                            <div class="info-box">
                              <i class="fa-solid fa-calendar-days"></i>
                              <div class="info">
                                <h2><%= court.toObject().date %></h2>
                                <p style="font-size:12px;"><%= court.toObject().timestart %>00-<%= timeEnd %>00</p>
                              </div>
                            </div>
            
                            <div class="info-box">
                              <i class="fa-solid fa-location-dot"></i>
                              <div class="info">
                                <h2><%= court.toObject().venue %></h2>
                                <p style="font-size:12px;">Skudai, 80990 Johor Bahru, Johor</p>
                              </div>
                            </div>  
            
                            <div class="info-box">
                              <i class="fa-solid fa-bookmark"></i>
                              <div class="info">
                                <h2>Court</h2>
                                <p style="font-size:12px;"><%= court.toObject().court %></p>
                              </div>
                            </div>
            
                            <div class="info-box">
                              <i class="fa-solid fa-phone"></i>
                              <div class="info">
                                <h2>Phone</h2>
                                <p style="font-size:12px;">+6012-3456789</p>
                              </div>
                            </div>
            
                            <div class="info-box">
                              <i class="fa-solid fa-tags"></i>
                              <div class="info">
                                <h2>Pricing</h2>
                                <p style="font-size:12px;">RM <%= price %></p>
                              </div>
                            </div>                     
                                </div>
                          </div>
                          <% if (court.share == true) {%>
                          <div class="share">
                            <a href="<%= href %> "><button type="submit" class="share-btn"><i class="fa-solid fa-circle-info"></i></button></a>
                          </div>
                          <% } else {%>
                            <div class="share">
                              <a href="<%= href %> "><button type="submit" class="share-btn"><i class="fa-solid fa-share"></i></button></a>
                            </div>
                            <% } %>
                  </div>
                <% }) %> 
               
                <% } else {%>
                    <p>There are no games to display...</p>
                <% } %>
                
              
                  
            </div>
         
        </section>
        


  </body>
</html>