<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<body>
    <!-- Header -->
    <%- include("./partials/nav.ejs") %>
    <!-- Info-page -->

     
    <div id="dc-info-page" class="dc-info-body">
      
            <div class="dc-info-container">
              <!-- column -->
              <div class="dc-info-form">
                
                <!-- category1 -->
                <div class="dc-info-card">
                  <h2 class="dc-info-text">Info</h2>
                      <div class="jf-line">
                        <div class="jf-line1"></div>
                        <div class="jf-icon"><i class="fa-solid fa-circle-info"></i></div>
                        <div class="jf-line2"></div>
                      </div>
                      <% if (data.toObject().sport == 'badminton') { %>
                        <% var image = "/image/badminton.jpeg"; %> 
                    <% } else  { %>
                        <% var image = "/image/basketball.jpeg"; %>
                    <% } %>

                      <div class="imgBox">
                        <div class="dc-text">
                            <%= data.toObject().sport %>
                        </div>
                        <img src="<%= image %> " class="cover">
                      </div>

                      <div class="dc-info-box">
                        <i class="fa-solid fa-circle-info"></i>
                          <div class="dc-info">
                            <h2><%= data.toObject().eventName %></h2>
                            <p style="font-size:12px;"><%= data.toObject().description %></p>
                          </div>
                      </div>

                      <div class="dc-info-box">
                        <i class="fa-solid fa-calendar-days"></i>
                          <div class="dc-info">
                            <h2><%= data.toObject().date %></h2>
                            <p style="font-size:12px;"><%= data.toObject().timeStart %>00 - <%= data.toObject().timeEnd %>00</p>
                          </div>
                      </div>
    
                      <div class="dc-info-box">
                        <i class="fa-solid fa-location-dot"></i>
                        <div class="dc-info">
                          <h2><%= data.toObject().venue %></h2>
                          <p style="font-size:12px;">Skudai, 80990 Johor Bahru, Johor</p>
                        </div>
                      </div>  

                      <div class="dc-info-box">
                        <i class="fa-solid fa-bookmark"></i>
                        <div class="dc-info">
                          <h2>Court</h2>
                          <p style="font-size:12px;"><%= data.toObject().court %></p>
                        </div>
                      </div>

                      <div class="dc-info-box">
                        <i class="fa-solid fa-phone"></i>
                        <div class="dc-info">
                          <h2>Phone</h2>
                          <p style="font-size:12px;">+6012-3456789</p>
                        </div>
                      </div>

                      <div class="dc-info-box">
                        <i class="fa-solid fa-tags"></i>
                        <div class="dc-info">
                          <h2>Pricing</h2>
                          <p style="font-size:12px;"><%= data.toObject().price %></p>
                        </div>
                      </div>

                      <div class="dc-info-box">
                        <i class="fa-solid fa-users" style="font-size:30px;"></i>
                          <div class="dc-info">
                            <h2>Players</h2>
                            <p style="font-size:12px;"><%= data.toObject().currentPlayer %> / <%= data.toObject().playerMax %></p>
                          </div>
                      </div>

                </div>
    
        </div>
      </div>
    </div>
    
    <!--Dark mode-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
      let dayNight = document.querySelector('.dayNight')
      let menuToggle = document.querySelector('.menuToggle')
      let body = document.querySelector('body')
      let navigation = document.querySelector('.navigation')
      
      dayNight.onclick = function(){
        body.classList.toggle('dark')
        dayNight.classList.toggle('active')
      }

      menuToggle.onclick = function(){
        menuToggle.classList.toggle('active')
        navigation.classList.toggle('active')
      }

      var audio = document.getElementById('audio');
      var playPauseBTN = document.getElementById('playPauseBTN');
      var count = 0;
      document.getElementById("audio").volume = 0.1;
      function playPause(){
        
        if(count == 0){
          count=1;
          audio.play();
          playPauseBTN.innerHTML = '<i class="fa-solid fa-headphones"></i>';
        }
        else{
          count = 0;
          audio.pause();
          playPauseBTN.innerHTML = '<i class="fa-solid fa-bell-slash"></i>';
        }
      }
    </script>
</body>
</html>